/**
* SAMPLE GRID
**/

<style type="text/css">

#sample {
}



/** ---UNIVERSAL--- **/

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/** ---TYPOGRAPHY--- **/

h1 {
	font-family: Futura, Helvetica, sans-serif;
	font-size: 2.5em;
	color: #fff;
	transition: color 0.7s ease;
}

h2,
p {
	font-family: Helvetica, Arial, sans-serif;
	color: #333e47;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

h3 {
	font-family: Futura, Helvetica, sans-serif;
	font-size: 1em;
}

/** ---HEADER--- **/

#title {
	background: #333e47;
	width: 100%;
	padding: 10px;
	margin: 0;
	text-align: center;
}

.nav {
	margin: 0;
	background: aqua;
	list-style: none;
	text-align: center;	
}

.nav li {
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.nav a {
	margin: 0 auto;
	text-decoration: none;
	color: #fff;
	transition: color 0.7s ease;
}

.row [class^="col"] {
	padding: 0 20px;
}

.row [class^="col"] h2 {
	text-align: center;
}

@media all and (min-width : 768px) {

/** --- LARGE SCREEN --- **/

header {
	display: table;
	background: #333e47;
	width: 100%;
}


#title {
	display: table-cell;
	width: 50%;
	padding: 0 50px;
	text-align: left;
	vertical-align: middle;
}

.nav {
	display: table-cell;
	background: #333e47;
	width: 50%;
	vertical-align: middle;
	text-align: right;
}

.nav li:last-child {
	margin-right: 30px;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	color: #fff;
	transition: color 0.7s ease;
}

.nav a:hover {
	color: #f68f8f
}



/** ---GRID--- **/

.row {
	margin: 0 -10px;
	margin-bottom: 10px;
}

.row:last-child {
	margin-bottom: 0;
}

.row [class^="col"] {
	padding: 10px 50px;
}

.row [class^="col"] h2 {
	text-align: left;
}

.col-2-3 {
	float: left;
	width: 66.66%;
}

.col-1-2 {
	float: left;
	width: 50%;
}

.col-1-3 {
	float: left;
	width: 33.33%;
}

.col-1-4 {
	float: left;
	width: 25%;
}
